.admin-post {
    // .admin-post__title

    &__title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
    }

    // .admin-post__form

    &__form {
        width: 600px;
        margin: 0 auto;
    }

    // .admin-post__form-group

    &__form-group {
        margin: 0 auto;
        margin-bottom: 12px;
        input {
            border: none;
            border-bottom: 1px solid $limeColor;
            width: 100%;
            padding: 10px;
            font-size: 16px;
            // border-top: 1px solid $limeColor;
            &:focus {
                outline: none;
            }
        }
        textarea {
            border: none;
            border-bottom: 1px solid $limeColor;
            width: 100%;
            padding: 10px;
            font-size: 16px;
            // border-top: 1px solid $limeColor;
            &:focus {
                outline: none;
            }
        }
        select {
            border: none;
            border-bottom: 1px solid $limeColor;
            width: 100%;
            padding: 10px;
            font-size: 16px;
            // border-top: 1px solid $limeColor;
            &:focus {
                outline: none;
            }
        }
        button {
            border: none;
            border-radius: 5px;
            background-color: $limeColor;
            color: white;
            padding: 10px;
            font-size: 16px;
            margin-top: 10px;
            &:focus {
                outline: none;
            }
        }
    }
}
