.admin-container {
    // .admin-container__title

    &__title {
        font-size: rem(24);
        font-weight: 700;
    }
}
.admin-dash {
    // .admin-dash__wrapper

    &__wrapper {
        margin-top: 24px;
    }

    // .admin-dash__card

    &__card {
        width: 100%;
        background-color: $limeColor;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        padding: 16px 32px;
        border-radius: 10px;
        i {
            color: #fff;
        }
        span {
            height: 20px;
            display: flex;
            gap: 10px;
            align-items: center;
        }
        @media (max-width: $mobile){
            @include adaptiveValue("font-size",16,14);
            padding: 12px 16px;
        }
    }

    // .admin-dash__item

    &__item {
        margin-top: 48px;
        @media (max-width: $mobile){
            text-align: center;
        }
    }
    &__users {
        height: 480px;
        overflow-y: auto;
    }
    &__subtitle {
        font-size: rem(18);

        font-weight: 700;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    // .admin-dash__content

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        @media (max-width: $mobileSmall){
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }

    // .admin-dash__content-item

    &__content-item {
        box-shadow: 0 0 0 1px rgb(0 0 0 / 5%);
        border-radius: 10px;
        width: 100%;
        padding: 24px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        align-items: center;
        background-color: #fff;
        span {
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: $limeColor;
        }
        i {
            color: white;
            font-size: rem(24);
        }
        @media (max-width: $mobile){
            justify-content: center;
            text-align: center;
        }
        @media (max-width: $mobileSmall){
            width: 80%;
        }
    }

    // .admin-dash__content-item-title

    &__content-item-title {
        font-weight: 700;
        margin-bottom: 12px;
    }

    // .admin-dash__content-item-value

    &__content-item-value {
    }
}
.fa-solid {
}
.fa-code-branch {
}
