.admin-user {
    &__wrapper {
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: $mobileSmall){
            padding: 0;
        }
    }
    &__card {
        margin-bottom: 16px;
        width: 100%;
        cursor: pointer;
        border-radius: 8px;
        padding: 10px 10px;
        color: #081f32;
        background-color: white;
        display: flex;
        align-items: center;
        gap: 20px;
        outline: 1px solid #374a590a;

        &-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;
            gap: 20px;
        }
    }
    &__info {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        h1 {
            font-size: 18px;
            @media (max-width:$mobile){
                @include adaptiveValue("font-size",16,14);
            }
        }
    }
    &__line {
        width: rem(2);
        background-color: #1f2319;
    }
    &__button {
        padding: 5px 15px;
        font-weight: 600;
        margin-right: 20px;
        @media (max-width: $tablet){
            padding: 5px 10px;
            margin-right: 10px;
        }
    }
    &__buttons{
        display: flex;
    }
}
.admin-user__card-selected {
    background: $limeColor;
    color: white;
}

.hide-tablet{
    @media (max-width:$tablet){
        display: none !important;
    }
}

.btn-danger {
    color: #ff0000;
}

.admin-users {
    // .admin-users__header

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin-bottom: 24px;
        button {
            padding: 5px 15px;
            background-color: $limeColor;
            color: white;
            font-weight: 600;
            @media (max-width: $mobile){
                max-width: 100px;
                width: 100%;
                align-self: center;
                justify-self: center;
            }
        }
        input[type='search'] {
            border: 1px solid $limeColor;
            padding: 5px 15px;
        }
    }
}

.header-buttons{
    display: flex;
    gap: 10px;
    width: max-content;
    @media (max-width: $mobile){
        display: grid;
        
        grid-template-columns: 1fr 1fr;
    }
}

.btn-pagination {
    outline: 2px solid #91c788;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
}

.btn-pagination-active {
    background-color: $limeColor;
    color: white;
}
